@import "../assets/styles/mixins.scss";

.about-container {
  margin-bottom: 40px;

  @include mobile {
    margin-bottom: 0px;
  }
  .about-collapse-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0px 50px;

    @include mobile {
      margin: 0px 20px;
    }

    .collapse-container {
      padding: 0 85px 0 85px;
      line-height: 1.5;

      @include mobile {
        padding: 0px;
        font-weight: 400;
      }
    }
  }
}
