.about-container {
  margin-bottom: 40px;
  .about-collapse-container {
    display: flex;
    flex-direction: column;

    gap: 25px;
    margin: 0px 50px;

    .collapse-container {
      padding: 0 85px 0 85px;
      line-height: 1.5;
    }
  }
}
