@mixin accordion-transition() {
  .collapse-content {
    /* Définir la hauteur maximale à 0 pour masquer le contenu */
    max-height: 0;
    /* Ajouter une transition pour une animation en douceur */
    transition: max-height 2s ease;

    p {
      /* Appliquer une translation vers le bas */
      transform: translateY(500px);
      /* Ajouter une transition pour une animation en douceur */
      transition: transform 2s ease;
    }
  }

  .accordion__container .open {
    /* Définir la hauteur maximale à une valeur suffisante pour afficher tout le contenu */
    max-height: 500px;

    p {
      /* Réinitialiser la translation */
      transform: translateY(0);
    }
  }
}
