.banner-about-container {
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/about-image.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 50px 45px 50px;
  border-radius: 25px;
  position: relative;

  @media (max-width: 768px) {
    height: 110px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    z-index: 1;
  }
}
