header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 50px 50px 50px;
  height: 68px;

  @media (max-width: 768px) {
    height: 45px;
    margin: 20px 20px 25px 20px;
  }

  img {
    height: 68px;

    @media (max-width: 768px) {
      height: 45px;
    }
  }

  ul {
    display: flex;

    li {
      margin-left: 57px;
      color: var(--red);
      font-weight: 500;
      font-size: 1.33rem;
      cursor: pointer;

      @media (max-width: 768px) {
        margin-left: 30px;
        font-size: 1rem;
      }

      a {
        text-decoration: none;
        color: var(--red);
        &.active {
          color: green;
        }
      }
    }
  }
}
