.footer-container {
  background-color: #000;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
      justify-content: center;
    }

    img {
      height: 40px;
      margin-top: 20px;
    }

    .txt-footer {
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 0.7rem;
        width: 122px;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}
